@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&family=Work+Sans:wght@400;500;600;700;900&display=swap');

/*********** 
CSS GENERAL
 ***********/
:root {
    --bleugris: 120, 146, 169;
    --bleu: 5, 44, 248;
    /*15%*/
    --gris: 12, 17, 23;
    --rose: 227, 186, 179;
    /*30%*/
    --rouge: 106, 3, 3;
    --vert: 7, 86, 67;
    --btnbg: rgba(255, 255, 255, 0.15);
    --shadow: 0 5px 13px rgba(0, 0, 0, 0.2);
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
}

body {
    font-family: 'Work Sans', sans-serif;
}

h2 {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px;
}

a {
    text-decoration: none;
    color: inherit;
}

/*********** 
CLASSES GLOBALES
 ***********/
.container {
    max-width: 1060px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.btn {
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: var(--shadow);
    transition: transform 0.3s ease;
    background-color: var(--btnbg);
    color: rgb(var(--gris));
}

.btn:hover {
    transform: translateY(-5px);
}

input {
    border: none;
    background: transparent;
}

input::placeholder {
    color: white;
}

/* .btn.btn-main {
    background-color: rgb(var(--rose));
    color: white;
}
.btn.btn-white {
    background-color: white;
    color: rgb(var(--rose));
}
.rose {
    color: rgb(var(--rose));
} */
/*********** 
CSS PAR SECTION
 ***********/
/************ footer ************/



/************ header ************/
header {
    background-image: url(../img/header_background.jpg);
    /* background-position: center; */
    background-size: cover;
    color: white;
    padding: 10px 0;
    background-position-y: 60%;
}

header img {
    height: 108px;
}

header ul li {
    background-color: var(--btnbg);
    border-radius: 10px;
    padding: 0 10px;
    color: white;
    margin: 10px;
}

header .txt {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}


/************ main ************/
#projet img {
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 400px;
}

#projet p {
    text-align: justify;
}

/*********** 
RESPONSIVE
 ***********/
@media (min-width:768px) {
    header .txt {
        margin-left: 50%;
        background-color: transparent;
    }
}